.ereadersize{
  color: tomato;
}
.ereaderpage{
  color: teal;
}
.event{
  color:#10c6cc;
}
.circle{
  border: solid;
  border-color: teal;
  width: 6rem;
  height: 6rem;
  border-radius: 5rem 5rem 5rem 5rem;
}
.contact{
  min-height: 60rem;
  max-height: 100%;
}

.carousel{
  controls: red;
}

.image{
background-color: teal;
border: solid;
margin-bottom: 10px;
margin-top: 10px;
max-width: 100%;
object-fit: scale-down;
padding-top: 0;
max-height: 100%;
image-orientation: from-image;
}



.containers{
  padding: 1rem;

  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 30px;
  background: teal;


}

.containersm{
  padding: rem;
  margin-top: 1rem;
  border-radius: 15px;
  background: teal;
  max-width:   40rem;
  max-height: 100%;
  background: linear-gradient(65deg,orange, red, teal);
  max-width: 20rem;
}

.ReactPlayer{
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  border-style: none;
  border-spacing: inherit;
  padding: 1rem;
}

.Card {
 padding: 1rem;
  
  margin: 1rem;
  max-width: 36rem;
  max-height: 80%;
}

.Card_image{
  border: solid;
 
}

.App {
  background-color: #0f0f0f;
  text-align: center;
  justify-content: center;
  min-height: 100%;
}

.Paragraph6 {
  font-size: calc(3px + 2vmin);
  background-color: #282c34;
  margin: 0px;
  border-radius: 30px 30px 30px 30px;
  border: skyblue;
  border-style: solid;
  text-align: left;
  padding: 10px;
  color: tomato;
  max-width: 11rem;
}



.Paragraph5 {
  background-color: #282c34;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px 30px 30px 30px;
  border: skyblue;
  border-style: solid;
  text-align: center;
  padding: 10px;
  color: tomato;
  object-position: fixed;


}
.Paragraph4 {
  background-color: #282c34;
  margin-top: 20px;
  border-radius: 30px 30px 30px 30px;
  border: skyblue;
  border-style: solid;
  text-align: left;
  padding: 10px;
  color: tomato;
  max-width: 40rem;
  max-height: 80%;
  font-size: x-large;

}

.Paragraph3 {
  max-width: 36rem;
  background-color: #282c34;
  margin: 0px;
  border-radius: 30px 30px 30px 30px;
  border: skyblue;
  border-style: solid;
  text-align: left;
  padding: 10px;
  color: orange;
  object-position: fixed;
}

.Paragraph2 {
  background-color: #282c34;
  margin: 0px;
  border-radius: 30px 30px 30px 30px;
  border: skyblue;
  border-style: solid;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  color: tomato;
  max-width: 40rem;
  object-position: fixed;

}

.Paragraph {
  background-color: #282c34;
  margin: 0px;
  border-radius: 30px 30px 30px 30px;
  border: skyblue;
  border-style: solid;
  text-align: left;
  padding: 10px;
  color: tomato;
  max-width: 36rem;
}
p{
  min-width: 15rem;
}

.nav{
  background: linear-gradient(45deg,#4DCCC6, #B0F3F1, #8B4513);

}
.link{
  color: gray;
}

.App-logo {

  border: solid;
  border-color: teal;
  align-items: left;
  border-radius: 5rem 5rem 5rem 5rem;
  position: relative;
  padding: 4px;







}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;

  }
}
img{
  border-radius: 5px;
}
section{
  max-width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #282c34;
  border-radius: 20px;
  margin: 10px;
  object-fit: scale-down;
  color:#4DCCC6; 
}
.Rimage{
 
border: solid;
margin-bottom: 10px;
margin-top: 10px;
max-width: 100%;
object-fit: scale-down;
padding-top: 0;
max-height: 100%;
image-orientation: from-image;
}
.App-header {
  min-height: 100%;
  text-align: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-bottom: 20px;

}

.button{
  margin: 20px;


}

.title{
  margin:6px;
  font-size: calc(15px + 2vmin);
  color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.Appf {
  background-color: #282c34;
  margin: 15px;
  border-radius: 30px 30px 30px 30px;
  border: skyblue;
  border-style: solid;
  text-align: center;
  padding: 10px;
  color: tomato;
  justify-content: center;

}


.c-player {
    min.height: 27.5rem;
    min-width: 17rem;
    max-height: 27.5rem;
    max-width: 17rem;
    display: block;
    background-color: grey;
    display: center;
    margin: 10px auto;
    padding: 5px;
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}
.c-player2 {
    min.height: 27.5rem;
    min-width: 17rem;
    max-height: 27.5rem;
    max-width: 17rem;
    display: block;
    background-color: teal;
    display: center;
    margin: 10px auto;
    padding: 5px;
   
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}

.c-player > h4 {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.c-player2 > h4 {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.c-player > p {
    color: black;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}
.c-player2 > p {
    color: black;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.c-player > p span {
    font-weight: 400;
}

.c-player2 > p span {
    font-weight: 400;
}

.c-player--details .details-img {
    position: relative;
    width: fit-content;
    margin:  auto;
}

.c-player--details .details-img img {
    display: block;
    margin: 50px auto;
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8), -6px -6px 12px rgba(255, 255, 255, 0.4);
}

.c-player--details .details-img:after {
    content: '';
    display: block;
    position: absolute;
    top: -25px;
    left: -25px;
    right: -25px;
    bottom: -25px;
    border-radius: 50%;
}

.c-player--details .details-title {
    color: black;
    font-size: 22px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8), -1px -1px 2px rgba(255,255,255,0.4);
    text-align: center;
    margin-bottom: 10px;
}

.c-player--details .details-artist {
    color: #AAA;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8), -1px -1px 1px rgba(255,255,255,0.4);
    text-align: center;
    margin-bottom: 20px;
}

.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.c-player--controls .play-btn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8), -1px -1px 1px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    background-color: black;
    color: teal;
    font-size: 24px;
    cursor: pointer;
}

.c-player--controls .skip-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #888;
    font-size: 18px;
}
