.ereadersize{
  color: tomato;
}
.ereaderpage{
  color: teal;
}


.circle{
  border: solid;
  border-color: teal;
  width: 6rem;
  height: 6rem;
  border-radius: 5rem 5rem 5rem 5rem;
}
.slideri {
  max-height: 100%;
  object-fit: contain;
  object-position: center;

}

.carousel{
  controls: red;

}

.image{
background-color: teal;
border: solid;
margin-bottom: 10px;
margin-top: 10px;
max-width: 100%;
object-fit: scale-down;
padding-top: 0;
max-height: 100%;
image-orientation: from-image;


}



.containers{

  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 30px;
  max-height: 100%;
  background: teal;
  object-fit: fill;

}

.containersm{
  padding: rem;
  margin-top: 1rem;
  border-radius: ;
  background: teal;
  max-width:   40rem;
  max-height: 100%;
  background: linear-gradient(65deg,orange, red, teal);
  max-width: 20rem;


}

.ReactPlayer{
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  border-style: none;
  border-radius: ;
  border-spacing: inherit;

  padding: 1rem;

}
.Card {

  padding: 1rem;
  margin: 1rem;
  max-width: 26rem;
  max-height: 80%;
}

.Card_image{
  border: solid;
  padding: 1rem;
  max-width: 100%;
  object-fit: fit;
}

.App {
  background-color: #0f0f0f;
}


.Paragraph {
  background-color: #282c34;
  margin: 0px;
  border-radius: 30px 30px 30px 30px;
  border: skyblue;
  border-style: solid;
  text-align: left;
  padding: 10px;
  color: tomato;
  object-position: fixed;
}

.nav{
  background: linear-gradient(45deg,#4DCCC6, #B0F3F1, #8B4513);

}
.link{
  color: gray;
}

.App-logo {

  border: solid;
  border-color: teal;
  align-items: left;
  border-radius: 5rem 5rem 5rem 5rem;
  position: relative;
  padding: 4px;







}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;

  }
}

.App-header {

  background-color:;

  text-align: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-bottom: 20px;

}

.Button{
  background-color: gray;



}

.title{
  margin:6px;
  font-size: calc(15px + 2vmin);
  color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
