


.circle{
  border: solid;
  border-color: teal;
  width: 6rem;
  height: 6rem;
  border-radius: 5rem 5rem 5rem 5rem;
}


.image{
border: solid;
margin: 1rem;


}

.navfont{
  color: red;
}

.navlinks{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}

.containers{
  padding: 2rem;
  margin: 1rem;
  background: teal;


}
.grid {

}

.Card {
  padding: 1rem;
  margin: 1rem;
  max-width: 26rem;
}

.Card_image{
  border: solid;
  padding: 1rem;
  max-width: 100%;
  object-fit: fill;
}

.App {
  background-color: #282c34;

}


.Paragraph {
  background-color: #282c34;
  margin: 5px;
  border-radius: 30px 30px 30px 30px;
  border: skyblue;
  border-style: solid;
  text-align: left;
  padding: 1rem;

}

.nav{
  max-height: 3rem;
}


.App-logo {
  border: solid;
  border-color: teal;
  align-items: left;
  border-radius: 5rem 5rem 5rem 5rem;
  position: relative;
  padding: 4px;







}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;

  }
}

.App-header {

  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  align-items: center;





  font-size: calc(10px + 2vmin);
  color: black;
}

.title{
  margin:6px;
  font-size: calc(15px + 2vmin);
  color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
